# Environment
.env

# Logs
logs
*.log
npm-debug.log*

node_modules
.output
.wxt
web-ext.config.ts

# Build artifacts
*.crx
*.pem
*.zip

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.sw?
